*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: blue;
}

.galeria{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 1rem;
    padding: 1rem;
}

.galeria{
    background-color: blue (124, 215, 243);
    padding: 1rem;
    border-radius: 0.5rem;
    text-align: center;
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: ;
}
img{
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 0.5em;
}